{% extends 'soc_network/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>{{ author.name }} {{ author.surname }}</p>
    {% if request.user.username == author.slug %}
    <p class="link-read-post"><a href="{% url 'friends' profile_slug=request.user.username%}">My friends</a></p>
    {% endif %}
{#    <p class="link-read-post"><a href="{% url 'add_friends' %}">Add friends</a></p>#}
    {% for p in author.posts.all %}
        <li>
            <div class="article-panel">
                <p class="first">Author: {{ author.name }} {{ author.surname }}</p>
                <p class="last">Date: {{ p.time_create|date:"d-m-Y H:i:s" }}</p>
            </div>
            <h2>{{ p.title }}</h2>
            {% autoescape on %}
                {{ p.content|linebreaks|truncatewords:50 }}
            {% endautoescape %}
            <div class="clear"></div>
            <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Read Post</a></p>
        </li>
    {% endfor %}
{% endblock %}